source https://nuget.org/api/v2
source https://www.myget.org/F/jajo/api/v2
nuget DotLiquid
nuget Fixie
nuget MarkdownSharp
nuget NewtonSoft.Json
nuget Should
nuget SuperGlue.Caching
nuget SuperGlue.Configuration
nuget SuperGlue.FileSystem
nuget SuperGlue.Web.Output