type file
id SuperGlue.Cms.Web
version 1.0
authors Mattias Jakobsson
description
        SuperGlue Cms
files
    bin/Release/SuperGlue.Cms.Web.dll ==> lib
dependencies
	SuperGlue.Web.Output
	SuperGlue.Cms